/* font */
.fontWalter{
font-family: 'Walter Turncoat', cursive;
}
.fontShadows{
font-family: 'Poiret One', cursive;
}

/* color */
.colorWhite{
	color:#ffffff	
}
.colorBlack{
	color:#000000	
}

/* main */
html,body{
	padding:0;
	margin:0;
	overflow-x:hidden;
}

a{
	text-decoration:none;
	color:#ffffff;	
}

a:focus{
 outline:none;	
}

.clear{
	clear:both;
}

#leftPart{
	width: 90%;
    height: 100vh;
    background-image: url(../images/creativePart.jpg);
    position: absolute;
    left: -40%;
    background-size: cover;
	z-index:10;
}
#leftLoading{
	width: 100%;
    height: 100vh;
    background-image: url(../images/creativePart.jpg);
    position: absolute;
    background-size: cover;
}
#leftTitle{
	width: 100%;
    height: 100vh;
    background-image: url(../images/creativePart.jpg);
    position: absolute;
    background-size: cover;
	z-index:99;
	cursor:default;
}


#rightPart{
	width: 90%;
    height: 100vh;
    background-image: url(../images/codePart.jpg);
    position: absolute;
    left: 50%;
    background-position: contain;
    background-size: cover;
	z-index:10
}

.col-cl-1{
width:8.33333333%;
float:left;
}

.col-cl-4{
width:33.33333333%;
float:left;
}

.col-cl-8{
width: 66.66666667%;
float:left;
}

.col-cl-11{
width:91.66666667%;
float:left;	
}

#leftMask a{
	position:absolute;
	cursor:pointer;	
	transition:all 0.8s ease;
	-webkit-transition:all 0.8s ease;
	font-size:3.5vw;
	display:inline-block;
	color:rgba(255,255,255,0.6)
}
#leftMask a:hover{
	color:rgba(255,255,255,1)
}

.sibilngsMove {
	-webkit-animation-name: sibMove; 
    -webkit-animation-duration: 1s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: sibMove;
    animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes sibMove{
	from{transform:scale(1)}
	to{transform:scale(0);}	
}

.education{
	left:5%;
	top:11%;
	-ms-transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);	
}
.educationMove{
	color:#ffffff !important;
	-webkit-animation-name: eduMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: eduMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes eduMove{
	0%{transform:rotate(-10deg);top:11%;}
	50%{transform:rotate(0deg);top:11%;}
	65%{transform:rotate(0deg);top:15%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
@-webkit-keyframes eduMove{
	0%{transform:rotate(-10deg);top:11%;}
	50%{transform:rotate(0deg);top:11%;}
	65%{transform:rotate(0deg);top:15%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
.eduBefore{
	-webkit-animation-name: eduBeforeMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: eduBeforeMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes eduBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	99%{opacity:0;}
	100%{opacity:0;}
}
@-webkit-keyframes eduBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	99%{opacity:0;}
	100%{opacity:0;}
}


.career{
	top:45%;
	left:3%;
	-ms-transform: rotate(-30deg); 
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);	
}
.careerMove{
	color:#ffffff !important;
	-webkit-animation-name: carMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: carMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes carMove{
	0%{transform:rotate(-30deg);top:45%;}
	50%{transform:rotate(0deg);top:45%;}
	65%{transform:rotate(0deg);top:49%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
@-webkit-keyframes carMove{
	0%{transform:rotate(-30deg);top:45%;}
	50%{transform:rotate(0deg);top:45%;}
	65%{transform:rotate(0deg);top:49%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
.careerAfter:after{
	content:"profession"	;
}
.careerAfter{
	opacity:0;	
}
.careerAfterMove{
	-webkit-animation-name: carAfterMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: carAfterMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
.carBefore{
	-webkit-animation-name: carBeforeMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: carBeforeMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes carBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	98%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes carBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	98%{opacity:1;}
	100%{opacity:0;}
}
@keyframes carAfterMove{
	0%{opacity:0;}
	70%{opacity:0;}
	99%{opacity:1;}
	100%{opacity:1;}
}
@-webkit-keyframes carAfterMove{
	0%{opacity:0;}
	70%{opacity:0;}
	99%{opacity:1;}
	100%{opacity:1;}
}


.design{
	top:80%;
	left:25%;
	-ms-transform: rotate(5deg); 
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);	
}
.designMove{
	color:#ffffff !important;
	-webkit-animation-name: dsgMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: dsgMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes dsgMove{
	0%{transform:rotate(5deg);top:80%;}
	50%{transform:rotate(0deg);top:80%;}
	65%{transform:rotate(0deg);top:84%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
@-webkit-keyframes carMove{
	0%{transform:rotate(5deg);top:80%;}
	50%{transform:rotate(0deg);top:80%;}
	65%{transform:rotate(0deg);top:84%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
.dsgAfter{
	-webkit-animation-name: dsgAfterMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: dsgAfterMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes dsgAfterMove{
	0%{opacity:1;position:relative}
	70%{opacity:1;position:relative}
	99%{opacity:0;position:relative}
	100%{opacity:0;position:absolute}
}
@-webkit-keyframes dsgAfterMove{
	0%{opacity:1;position:relative}
	70%{opacity:1;position:relative}
	99%{opacity:0;position:relative}
	100%{opacity:0;position:absolute}
}

.about{
	top:25%;
	left:34%;
	-ms-transform: rotate(1deg); 
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);	
}
.aboutMove{
	color:#ffffff !important;
	-webkit-animation-name: abtMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: abtMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes abtMove{
	0%{transform:rotate(1deg);top:25%;}
	50%{transform:rotate(0deg);top:25%;}
	65%{transform:rotate(0deg);top:29%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
@-webkit-keyframes abtMove{
	0%{transform:rotate(1deg);top:25%;}
	50%{transform:rotate(0deg);top:25%;}
	65%{transform:rotate(0deg);top:29%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
.aboutAfterMove{
	-webkit-animation-name: abtAfterMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: abtAfterMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes abtAfterMove{
	0%{opacity:1;position:relative}
	70%{opacity:1;position:relative}
	99%{opacity:0;position:relative}
	100%{opacity:0;position:absolute}
}
@-webkit-keyframes abtAfterMove{
	0%{opacity:1;position:relative}
	70%{opacity:1;position:relative}
	99%{opacity:0;position:relative}
	100%{opacity:0;position:absolute}
}


.contact{
	top:55%;
	left:40%;
	-ms-transform: rotate(-5deg); 
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);	
}
.contactMove{
	color:#ffffff !important;
	-webkit-animation-name: ctcMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: ctcMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes ctcMove{
	0%{transform:rotate(-5deg);top:55%;}
	50%{transform:rotate(0deg);top:55%;}
	65%{transform:rotate(0deg);top:59%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
@-webkit-keyframes ctcMove{
	0%{transform:rotate(-5deg);top:55%;}
	50%{transform:rotate(0deg);top:55%;}
	65%{transform:rotate(0deg);top:59%;}
	70%{transform:rotate(0deg);top:0%;}
	100%{transform:rotate(0deg);top:0%;}
}
.contactAfter:after{
	content:"contact"	;
}
.contactAfter{
	opacity:0;	
}
.contactAfterMove{
	-webkit-animation-name: ctcAfterMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: ctcAfterMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes ctcAfterMove{
	0%{opacity:0;}
	70%{opacity:0;}
	99%{opacity:1;}
	100%{opacity:1;}
}
@-webkit-keyframes ctcAfterMove{
	0%{opacity:0;}
	70%{opacity:0;}
	99%{opacity:1;}
	100%{opacity:1;}
}
.ctcBefore{
	-webkit-animation-name: ctcBeforeMove; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: ctcBeforeMove;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes ctcBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	98%{opacity:0;}
	100%{opacity:0;}
}
@-webkit-keyframes ctcBeforeMove{
	0%{opacity:1;}
	70%{opacity:1;}
	98%{opacity:0;}
	100%{opacity:0;}
}

#leftContent{
	position:absolute;
	padding:0 50px;
}

#leftContent  div{
	display:none;
	opacity:0;
}

#goBack{
	position:absolute;
	right:0;	
	cursor:pointer;
	display:none;
}

.leftContentFadeIn{
	-webkit-animation-name: FadeInEffect; 
    -webkit-animation-duration: 1.5s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: FadeInEffect;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@keyframes FadeInEffect{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes FadeInEffect{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes FadeOutEffect{
	0%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes FadeOutEffect{
	0%{opacity:1;}
	100%{opacity:0;}
}

#leftLoading{
z-index:-99;
opacity:0;	
}

.leftLoadingFadeIn{
	-webkit-animation-name: leftLoadingFadeEffect; 
    -webkit-animation-duration: 3s; 
	-webkit-animation-fill-mode: forwards;
    animation-name: leftLoadingFadeEffect;
    animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes leftLoadingFadeEffect{
	0%{opacity:0;z-index:-99}
	1%{opacity:0;z-index:99}
	20%{opacity:1;z-index:99}
	70%{opacity:1;z-index:99}
	100%{opacity:0;z-index:-99}
}
@-webkit-keyframes leftLoadingFadeEffect{
	0%{opacity:0;z-index:-99}
	1%{opacity:0;z-index:99}
	20%{opacity:1;z-index:99}
	70%{opacity:1;z-index:99}
	100%{opacity:0;z-index:-99}
}


#leftTitle p{
	right:5%;
	top:10%;
	font-size:6vw;
	position:absolute;	
}

#rightTitle p{
	left:5%;
	top:10%;
	font-size:6vw;
	position:absolute;	
}

/*butterfly*/
.butterfly {
  	position:relative;
	margin-top:10%;
	width:11%;
	transform:rotate(20deg);
	margin-left:25%;
}
.butterfly > div {position:absolute;}
.butterfly img {width:100%;}
		
.leftwing {
  animation:flap-l 4s cubic-bezier(.08,1.47,.65,-0.68) infinite;
}
.rightwing {
  animation:flap-r 4s cubic-bezier(.08,1.47,.65,-0.68) infinite;
}
.leftwing, .rightwing {z-index:1;}

@keyframes flap-l {
			0% {transform:rotateY(0);}
			50% {transform:rotateY(80deg);}
			100% {transform:rotateY(0);}
}
@keyframes flap-r {
			0% {transform:rotateY(0); }
			50% {transform:rotateY(-80deg);}
			100% {transform:rotateY(0);}
}