/* font */
.fontArcgutects{
font-family: 'Architects Daughter', cursive;
}

/* color */
.colorWhite{
color:#FFFFFF
}

/* main */
html,body{
	padding:0;
	margin:0;	
}

.clear{
	clear:both
}

#leftPart{
	width: 90%;
    height: 100vh;
    background-image: url(../images/creativePart.jpg);
    position: absolute;
    left: -40%;
    background-position: contain;
    background-size: cover;
	z-index:10;
	-webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
     transition: background 0.5s linear;
}

#rightPart{
	width: 90%;
    height: 100vh;
    background-image: url(../images/codePart.jpg);
    position: absolute;
    left: 50%;
    background-position: contain;
    background-size: cover;
	z-index:10
}

#leftNav ul li{
	list-style:none;
	font-size:1.5vw;
}

#leftTopNav ul li{
	list-style:none;
	float:left;
	font-size:1.5vw;
}

.col-cl-4{
width:33.33333333%;
float:left;
}

.col-cl-8{
width: 66.66666667%;
float:left;
}

